html {
	font-family: Helvetica, sans-serif;
	display: inline-block;
	margin: 0px auto;
	text-align: center;
}

h1 {
	color: #0F3376;
	padding: 2vh;
}

.button {
	display: inline-block;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 16px 40px;
	text-decoration: none;
	font-size: 30px;
}
